*.class

# Package Files #
*.jar
*.war
*.ear

# LaTeX temp files
*.pdf
*.aux
*.log
*.synctex.gz*
*.bbl
*.blg

# IntelliJ IDEA
.idea/*

# Folders for libraries, data etc
lib/*
data/*
out/*
presentation/*
